<?xml version="1.0"?>
<config>
   <modules>
      <Ksv_DeleteOrders>
         <version>0.1.1</version>
      </Ksv_DeleteOrders>
   </modules>
  <global>
        <models>
            <ksv_delete_orders>
                <class>Ksv_DeleteOrders_Model</class>
            </ksv_delete_orders>
        </models>
         <helpers>
            <ksv_delete_orders>
                <class>Mgt_DelteOrders_Helper</class>
            </ksv_delete_orders>
        </helpers>
    </global>
    <admin>
        <routers>
            <ksv_delete_orders>
                <use>admin</use>
                <args>
                    <module>Ksv_DeleteOrders</module>
                    <frontName>ksv_delete_orders</frontName>
                </args>
            </ksv_delete_orders>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <ksv_delete_orders>
                        <class>ksv_delete_orders/observer</class>
                        <method>addOptionToSelect</method>
                    </ksv_delete_orders>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_delete_after>
                <observers>
                    <ksv_delete_orders>
                      <class>ksv_delete_orders/observer</class>
                      <method>deleteOrderFromGrid</method>
                    </ksv_delete_orders>
                </observers>
            </sales_order_delete_after>
        </events>
    </adminhtml>
</config>
